.addTaskFormContainer {
    background-color: #dcdddf;
}
.addTaskFormTitle{
    color: #fff;   
}
.addTaskForm {
    background-color: #ffffff;
    color: #182848;
}
.addTaskInput{
    background-color: #d9d9d9;
    border: none;
    padding: 8px;
    margin-bottom: 10px;
}
.addTaskLabel{
    color: #182848;
    font-size: 1.5rem;
}